* {
    font-color: #555555;
    font-family: arial;
}

hr {
    color: #dddddd;
}

#browsebox {
    border-radius: 25px;
    border-width: 5px;
    border-color: #444444;
    border-style: solid;
    background: #FEFFDB;
    padding: 20px;
    width: 400px;
    height: 150px;
}

#pizzalink {
    margin-top: 20px;
}

.topbar {
    background-color: lightgray;
    text-align: left;
    padding: 1px;
    height: 100%;
    font-size: 18px;
    color: purple;
    display: flex;
}

#description {
    font-size: 12px;
    font-style: normal;
}

.phone::before {
    content: "\2706";
}
.s {
    display: flex;
    align-self: center;
    margin-left: auto;
}

.r {
    display: flex;
    align-self: center;
    margin-left: 10px;
}

.h {
    display: flex;
    align-self: center;
    margin-left: 10px;
    }
